@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

html{
  background-color: #CFB495;
}

.login-page {
  min-height: 100vh;
  display: flex;
  margin-top: 10em;
  flex-direction: column;
  align-items: center;
  
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #CFB495;
  padding-top: 3em;
  padding-bottom: 20em;
  border: none;
  border-radius: 1.5em;
}

.box h1 {
  font-family: 'Fira Code', monospace;
  color: white;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.input {
  line-height: 35px;
  font-size: medium;
  flex-shrink: 1;
  float: left;
  margin-left: 0.5em;
  height: 35px;
  width: 300px;
  border: none;
  border-radius: 2em;
  text-indent: 1em;
  font-family: 'Fira Code', monospace, FontAwesome;
}

.submit {
  padding-top: 20px;
}

.login-button {
  height: 2.5em;
  width: 100px;
  border: none;
  border-radius: 2em;
  background-color: #758184;
  color: white;
  font-family: 'Fira Code';
  transition-duration: 0.2s;
}

.login-button:hover {
  background-color: white;
  color: #758184;
}

.icon {
  color: #758184;
  font-size: 1.7em;
}
